body {
    cursor: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 100 100"%3E%3Ctext y="78" font-size="82"%3E💥%3C/text%3E%3C/svg%3E') 16 16, auto;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: var(--background-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.all {
    display: contents;
}

.container {
    /* display: flex; */
    display: none;
    flex-direction: row;
    /* max-height: 100%; */
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-color) var(--primary-color);
}

.content {
    /* display: none; */
    display: flex;
    flex-direction: column;
}

pre {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.output {
    white-space: pre;
    width: 40vw;
    overflow-x: scroll;
    text-align: center;
}

.log-file-content {
    /* white-space: pre;
    overflow-x: scroll; */
    overflow-y: auto;
}

.boommeter-file-content {
    /* white-space: pre; */
    overflow-y: auto;
}

.file-content {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-left: 10px;
    border-radius: 5px;
    /* max-height: auto; */
    /* overflow: hidden; */
}

.username {
    font-weight: bold;
    color: var(--default-user-text-color);
}

.username-bot {
    font-weight: bold;
    color: var(--bot-user-text-color);
}

.username-fav {
    font-weight: bold;
    color: var(--fav-user-text-color);
}

.table-row-odd {
    color: var(--text-color);
    background-color: var(--primary-color);
}

.table-row-even {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.table-body {
    position: relative;
}

.table-head {
    top: -10px;
    position: sticky;
    width: fit-content;
    z-index: 1;
    background-color: var(--primary-color);
    display: block;
    padding-top: 10px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 50;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
}

.loading-bar {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 50;
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
}

.alert-box {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.password-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
}

.password-prompt input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #bfc7d5;
}

.password-prompt input:focus {
    outline: none;
    border-color: grey;
}

.password-prompt button:focus {
    outline: none;
    border-color: grey;
}

.password-prompt button {
    /* padding: 10px 20px;
    font-size: 16px;
    background-color: lightgrey; */
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px
}

.poll-line {
    display: flex;
    align-items: center;
}

.poll {
    display: block;
    border-left: 3px solid #888;
    padding-left: 8px;
    margin: 6px 0;
    width: 85%;
    box-sizing: border-box;
    cursor: pointer;
}

.poll-body.hidden {
    display: none;
}

.poll-body {
    margin-top: 4px;
    white-space: pre-wrap;
}

.hover-red:hover {
    color:var(--text-emphasis-color);
}

.boom-number {
    color:var(--text-emphasis-color);
    font-weight: bold;
}
