:root {
    --background-color: #000000;
    --primary-color: #050505;
    --secondary-color: #0B0B0B;
    --text-color: #4AFF00;
    --text-emphasis-color: #FFB300;
    --default-user-text-color: #FFB000;
    --fav-user-text-color: #FFB300;
    --bot-user-text-color: #FFB000;
}

@keyframes flicker-animation {
    0%   { opacity: 1;    }
    10%  { opacity: 0.85; }
    20%  { opacity: 0.9;  }
    30%  { opacity: 1;    }
    65%  { opacity: 0.9;  }
    85%  { opacity: 1;    }
    87%  { opacity: 0.9;  }
    89%  { opacity: 1;    }
    95%  { opacity: 1;    }
    97%  { opacity: 0.9;  }
    100% { opacity: 1;    }
}

.overlay {
    animation: flicker-animatoin 6s infinite;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        rgba(0, 255, 0, 0.1),
        rgba(0, 255, 0, 0.1) 1px,
        transparent 5px,
        transparent 6px
    );
    pointer-events: none;
}

.table-head {
    background: repeating-linear-gradient(
        transparent,
        transparent 1px,
        #0B0B0B 5px,
        #0B0B0B 6px
    );
    text-shadow:
        -1px -1px 0 #0B0B0B,
         1px -1px 0 #0B0B0B,
        -1px  1px 0 #0B0B0B,
         1px  1px 0 #0B0B0B,
         1px  0px 0 #0B0B0B,
        -1px  0px 0 #0B0B0B,
         0px  1px 0 #0B0B0B,
         0px -1px 0 #0B0B0B;
}

pre {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

