:root {
    --background-color: #3c585d77;
    --primary-color: #3c585da8;
    --secondary-color: #292f4d00;

    --text-color: #eeffff;
    --text-emphasis-color: #e56a62;
    --default-user-text-color: #fc8b51;
    --fav-user-text-color: #9bd7ec;
    --bot-user-text-color: #99d564;

    --background-image-url: url('../assets/media/rose.png');
}

/* Cursive Font */
@font-face {
    font-family: 'Cedarville Cursive';
    src: url('../../assets/fonts/CedarvilleCursive/CedarvilleCursive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
}

h1,h2 {
    font-family: 'Cedarville Cursive', cursive;
}

body {
    text-shadow:
       -.5px -.5px 0 #0e1a1caa,
        .5px -.5px 0 #0e1a1caa,
       -.5px  .5px 0 #0e1a1caa,
        .5px  .5px 0 #0e1a1caa;
}

