:root {
    --background-color: #2a55634d;
    --primary-color: #1f445286;
    --secondary-color: #6a4a8a2e;

    --text-color: #ffffff;
    --text-emphasis-color: #ffd84d;
    --default-user-text-color: #6fe3e4;
    --fav-user-text-color: #ffd84d;
    --bot-user-text-color: #8ea2ff;

    --background-image-url: url('../assets/media/simpsons-plant.jpg');
}

@font-face {
    font-family: 'SimpsonFont';
    src: url('../../assets/fonts/SimpsonFont/SimpsonFont.otf') format('truetype');
}

body {
    text-shadow: 0 2px 0 rgba(0,0,0,0.35);
}

h1 {
    font-family: 'SimpsonFont', sans-serif;
}

h2 {
    font-family: 'SimpsonFont', sans-serif;
}

