:root {
    --background-color: #262a2e4d;
    --primary-color: #3f3a3399;
    --secondary-color: #9a6b2b33;

    --text-color: #ffffff;
    --text-emphasis-color: #ffd84d;
    --default-user-text-color: #6fe3e4;
    --fav-user-text-color: #ffd84d;
    --bot-user-text-color: #8ea2ff;

    --background-image-url: url('../assets/media/simpsons-moes.jpg');
}

@font-face {
    font-family: 'SimpsonFont';
    src: url('../../assets/fonts/SimpsonFont/SimpsonFont.otf') format('truetype');
}

body {
    text-shadow: 0 2px 0 rgba(0,0,0,0.35);
}

h1 {
    font-family: 'SimpsonFont', sans-serif;
    text-shadow:  0 -2px 0 rgba(0,0,0,.65);
    text-shadow:  2  0px 0 rgba(0,0,0,.65);
    text-shadow:  0  2px 0 rgba(0,0,0,1);
    text-shadow: -2  0px 0 rgba(0,0,0,1);
}

h2 {
    font-family: 'SimpsonFont', sans-serif;
}

