<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOOM customization</title>
        <link rel="stylesheet" href="static/styles/popup.css"/>
        <link id="theme-style" rel="stylesheet" href="static/styles/themes/palenight.css">
        <script src="static/scripts/channel.js"></script>
        <script src="static/scripts/theme.js"></script>
        <script src="static/scripts/popup.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 id="popup-header">💥💥💥 BOOM Themes 💥💥💥</h1>
            <select id="theme-dropdown" name="themes" onchange="handleDropdownChange(this)"></select>
        </div>
    </body>
</html>